#navbarNav{
	background-color:red;
	border:2px solid black;
}
#head{
	background-color:grey;
	padding:20px;
	border:2px solid black;
}
li span{
	text-align:center;
	font-weight:bold;
	font-size:2em;
}
#title{
	font-weight:bold;
	font-size:2em;
	text-align:left;
}
#menu{
	margin:20px;
	padding:20px;
	font-weight:bold;
	font-size:2em;
}
.cont{
	background-color:grey;
	border:2px solid black;
	margin:2px;
	height:700px;
}